#forgot-password-page {
  width: 29%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .content-wrapper {
    width: 80%;

    h3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: bold;
      font-size: 1.5em;
      line-height: 29px;
      /* or 121% */
      display: flex;
      align-items: left;
      letter-spacing: 0.02em;
      /* Blue Secondary */
      color: #3a86ff;
      margin-bottom: 10px;
    }
    p {
      font-family: "Roboto";
      letter-spacing: 0.02em;
      margin-bottom: 12px;
      line-height: 26px;
      // font-size: 0.7em;
    }

    form {
      display: flex;
      flex-direction: column;

      p {
        margin: 10px auto;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        line-height: 26px;
        /* or 165% */
        text-align: center;
        letter-spacing: 0.06em;
        /* Dark blue Text */
        color: #03023b;
        font-size: 0.7em;
      }
    }

    input {
      width: 100%;
      border-radius: 8px;
      margin: 5px 0;
      border: 1px solid gray;
      padding: 6px;
    }

    button {
      width: 100%;
      background: #3a86ff;
      color: white;
      padding: 6px;
      border-radius: 8px;
      border: 0px;
      margin-top: 16px;
      font-family: "Roboto";
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 480px) and (min-width: 375px) {
  #forgot-password-page {
    width: 70%;
    margin-top: 10px;
  }
  .content-wrapper {
    width: 80%;

    p {
      font-size: 0.99em;
      letter-spacing: 0.05em;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  #forgot-password-page {
    width: 50%;
    margin-top: 10px;
  }
  .content-wrapper {
    width: 75%;

    p {
      font-size: 1.1em;
      letter-spacing: 0.05em;
      margin: 30px 0px;
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
  #forgot-password-page {
    width: 40%;
    margin-top: 10px;
  }
  .content-wrapper {
    width: 75%;

    p {
      font-size: 1.2em;
      letter-spacing: 0.05em;
      margin: 30px 0px;
    }
  }
}

@media screen and (min-width: 1025px) {
  #forgot-password-page {
    width: 30%;
    margin-top: 10px;
  }
  .content-wrapper {
    width: 75%;

    p {
      font-size: 1.3em;
      // letter-spacing: 0.05em;
      margin: 30px 0px;
      line-height: 26px;
    }
  }
}
