@import '../../../../../../globalStyles/helpers/variables.scss';
#courses {
  justify-content: center;
  place-items: center;
  
  
  .title {
    padding-top: 30px;
    padding-left: 50px;
    color: $primaryColor;
  }
  .course-list{ // desktop 3 col
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-row-gap: 2rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 1220px;
    padding-bottom: 100px;
    @media screen and (max-width: 600px) { // mobile - 1 column
      display: grid;
      place-items: center;
      grid-template-columns: 100%;
    }
    @media screen and (min-width: 600px) and (max-width: 1024px) { // tablet - laptop 2 col
      grid-template-columns: 50% 50%;
    }
  }
  .swiper-container{
    max-width: 1220px;
    width: 95%;
  }
}


