#reset-password-page {
  width: 29%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#reset-password-page h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* or 121% */
  display: flex;
  align-items: left;
  letter-spacing: 0.02em;
  /* Blue Secondary */
  color: #3a86ff;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}
input {
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;
  border: 1px solid gray;
  padding: 6px;
}
button {
  width: 100%;
  background: #3a86ff;
  color: white;
  padding: 6px;
  border-radius: 8px;
  border: 0px;
  margin-top: 16px;
}
.content-wrapper {
  width: 80%;
}
.content {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 165% */
  letter-spacing: 0.06em;
  /* Dark blue Text */
  color: #03023b;
  width: 100%;
  margin-bottom: 5px;
}

form p {
  margin: 10px auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 165% */
  text-align: center;
  letter-spacing: 0.06em;
  /* Dark blue Text */
  color: #03023b;
}
