// Colors variables
$primaryColor: #0837e5;
$secondaryColor: #3a86ff;
$tertiaryColor: #ffcc00;
$darkColor: #03023b;
$successColor: #46d5b3;
$errorColor: #eb5757;
$lightGrey: #f8f8f8;
$offWhite: #fdfdfd;
$pureWhite: #f2f2f2;
$grey1: #333;
$grey2: #4f4f4f;
$grey3: #828282;
$grey4: #bdbdbd;
$grey5: #e0e0e0;
$grey6: #f2f2f2;

// Font variables
$largeHeadings: 32px;
$mediumHeadings: 24px;
$smallHeadings: 18px;
$body: 16px;

// Break-point variables
$smallPhone: 320px;
$largePhone: 768px;
$tablet: 960px;
$desktop: 1200px;
$largeDesktop: 1400px;

// border radius
$large-radius: 20px;
$normal-radius: 8px;
$medium-radius: 6px;
$small-radius: 4px;
$circle-radius: 50%;
